<?xml version="1.0" encoding="utf-8"?>
<manifest package="it.polito.ai.lhmf.android"
    android:versionCode="1"
    android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" android:screenOrientation="portrait">
        </activity>
        <receiver android:name=".NetworkStateBroadcastReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <service android:name=".GasNetworkService"></service>
        <activity android:name=".admin.LogActivity"></activity>
        <activity android:name=".admin.UsersActivity"></activity>
        <activity android:name=".admin.ProductsActivity"></activity>
        <activity android:name=".NewProductActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ProductDetails" android:screenOrientation="portrait"></activity>
        <activity android:name=".Listino" android:screenOrientation="portrait"></activity>
        <activity android:name=".NewPurchaseActivity" android:screenOrientation="portrait"></activity>
    </application>

</manifest>