<?xml version="1.0" encoding="UTF-8"?>

<!--
  - Sample namespace-based configuration
  -
  -->

<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <debug />

    <global-method-security pre-post-annotations="enabled" />

    <http pattern="/css/**" security="none"/>
    <http pattern="/img/**" security="none"/>
    <http pattern="/js/**" security="none"/>

	<http use-expressions="true">
	    <intercept-url pattern="/openid_signup*" access="permitAll"/>
	    <intercept-url pattern="/login*" access="permitAll"/>
        <intercept-url pattern="/**" access="isAuthenticated()"/>
        <form-login login-page="/login" authentication-success-handler-ref="loginSuccessfull" authentication-failure-url="/login?form_error"/>
        <openid-login user-service-ref="myUserDetailsService" authentication-success-handler-ref="loginSuccessfull" authentication-failure-handler-ref="openIdSuccessButNotRegistered">
            <attribute-exchange>
                <openid-attribute name="firstname" type="http://axschema.org/namePerson/first" required="true"/>
                <openid-attribute name="lastname" type="http://axschema.org/namePerson/last" required="true"/>
                <openid-attribute name="email" type="http://axschema.org/contact/email" required="true"/>
                <openid-attribute name="address" type="http://axschema.org/contact/postaladdress/home" required="true"/>
                <openid-attribute name="city" type="http://axschema.org/contact/city/home" required="true"/>
                <openid-attribute name="state" type="http://axschema.org/contact/state/home" required="true"/>
                <openid-attribute name="country" type="http://axschema.org/contact/country/home" required="true"/>
                <openid-attribute name="cap" type="http://axschema.org/contact/postalcode/home" required="true"/>
                <openid-attribute name="phone" type="http://axschema.org/contact/phone/default" required="true"/>
                
                <openid-attribute name="firstname" type="http://schema.openid.net/namePerson/first" required="true"/>
                <openid-attribute name="lastname" type="http://schema.openid.net/namePerson/last" required="true"/>
                <openid-attribute name="email" type="http://schema.openid.net/contact/email" required="true"/>
                <openid-attribute name="address" type="http://schema.openid.net/contact/postaladdress/home" required="true"/>
                <openid-attribute name="city" type="http://schema.openid.net/contact/city/home" required="true"/>
                <openid-attribute name="state" type="http://schema.openid.net/contact/state/home" required="true"/>
                <openid-attribute name="country" type="http://schema.openid.net/contact/country/home" required="true"/>
                <openid-attribute name="cap" type="http://schema.openid.net/contact/postalcode/home" required="true"/>
                <openid-attribute name="phone" type="http://schema.openid.net/contact/phone/default" required="true"/>
                
                <openid-attribute name="firstname" type="http://openid.net/schema/namePerson/first" required="true"/>
                <openid-attribute name="lastname" type="http://openid.net/schema/namePerson/last" required="true"/>
                <openid-attribute name="email" type="http://openid.net/schema/contact/email" required="true"/>
                <openid-attribute name="address" type="http://openid.net/schema/contact/postaladdress/home" required="true"/>
                <openid-attribute name="city" type="http://openid.net/schema/contact/city/home" required="true"/>
                <openid-attribute name="state" type="http://openid.net/schema/contact/state/home" required="true"/>
                <openid-attribute name="country" type="http://openid.net/schema/contact/country/home" required="true"/>
                <openid-attribute name="cap" type="http://openid.net/schema/contact/postalcode/home" required="true"/>
                <openid-attribute name="phone" type="http://openid.net/schema/contact/phone/default" required="true"/>
            </attribute-exchange>
        </openid-login>
        <logout logout-url="/logout" logout-success-url="/" delete-cookies="JSESSIONID" invalidate-session="true"/>
        <remember-me user-service-ref="myUserDetailsService" authentication-success-handler-ref="loginSuccessfull"/>
<!--
    Uncomment to enable X509 client authentication support
        <x509 />
-->
        <!-- Uncomment to limit the number of sessions a user can have -->
<!--         <session-management invalid-session-url="/timeout.jsp"> -->
<!--             <concurrency-control max-sessions="1" error-if-maximum-exceeded="true" /> -->
<!--         </session-management> -->

    </http>
    
	<beans:bean id="loginSuccessfull" class="it.polito.ai.lhmf.security.LoginSuccessfullHandler"/>
	
	<beans:bean id="openIdSuccessButNotRegistered" class="it.polito.ai.lhmf.security.OpenIdRegistrationRequiredHandler">
	    <beans:property name="defaultFailureUrl" value="/login?openid_error"/>
	</beans:bean>
    
	<authentication-manager>
	    <authentication-provider user-service-ref="myUserDetailsService">
	        <password-encoder hash="md5"/>
	    </authentication-provider>
	</authentication-manager>
	
	<beans:bean id="myUserDetailsService" class="it.polito.ai.lhmf.security.MyUserDetailsService">
	    <beans:property name="sessionFactory" ref="sessionFactory"/>
	</beans:bean>

</beans:beans>
